In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'Date': ['10/7/2020', '10/6/2020', '10/6/2020'], 
                   'Team1': ['a', 'a', 'b'],
                  'Team2': ['b', 'c', 'd'],
                  'outcome': [1, 0, 1],
                  'team1_total_gold': [14, 11, 31],
                  'team2_total_gold': [16, 23, 14]})
df

        Date Team1 Team2  outcome  team1_total_gold  team2_total_gold
0  10/7/2020     a     b        1                14                16
1  10/6/2020     a     c        0                11                23
2  10/6/2020     b     d        1                31                14

In [3]:
df['Date'] = pd.to_datetime(df['Date'])
df.dtypes

Date                datetime64[ns]
Team1                       object
Team2                       object
outcome                      int64
team1_total_gold             int64
team2_total_gold             int64
dtype: object

In [4]:
df2 = df.copy()

In [5]:
df2

        Date Team1 Team2  outcome  team1_total_gold  team2_total_gold
0 2020-10-07     a     b        1                14                16
1 2020-10-06     a     c        0                11                23
2 2020-10-06     b     d        1                31                14

In [6]:
df[(df['Team1'] == row['Team1']) & (df['Date'] < row['Date'])]['team1_total_gold'].values

NameError: name 'row' is not defined

In [13]:
row['Team2']

'd'

In [15]:
df[((df['Team2'] == row['Team2']) | (df['Team1'] == row['Team2'])) & (df['Date'] < row['Date'])]

Empty DataFrame
Columns: [Date, Team1, Team2, outcome, team1_total_gold, team2_total_gold]
Index: []

In [ ]:
df

In [8]:
for index, row in df.iterrows():
    try:
        team_1_gold = df[(df['Team1'] == row['Team1']) & (df['Date'] < row['Date'])]['team1_total_gold'].values[0]
        team_2_gold = df[((df['Team2'] == row['Team2']) | (df['Team1'] == row['Team2'])) & (df['Date'] < row['Date'])]['team1_total_gold'].values[0]
        df2.loc[index, 'team1_total_gold'] = team_1_gold
        df2.loc[index, 'team2_total_gold'] = team_2_gold
    except IndexError:
        df2.loc[index, 'team1_total_gold'] = 'Error'
        df2.loc[index, 'team2_total_gold'] = 'Error'

In [11]:
df[(df['Team1'] == ['Team1']) & (df['Date'] < row['Date'])]['team1_total_gold'].values

array([], dtype=int64)

In [9]:
df2

        Date Team1 Team2  outcome team1_total_gold team2_total_gold
0 2020-10-07     a     b        1               11               31
1 2020-10-06     a     c        0            Error            Error
2 2020-10-06     b     d        1            Error            Error