## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [ ]:
# Your code here - remember to use markdown cells for comments as well!

In [1]:
ls

CONTRIBUTING.md
LICENSE.md
README.md
The-Ramen-Rater-The-Big-List-1-3400-Current-As-Of-Jan-25-2020.xlsx
module_3_project_rubric.pdf
ramen-ratings.csv
smart.gif
student.ipynb

In [2]:
import pandas as pd

In [3]:
df = pd.read_excel('The-Ramen-Rater-The-Big-List-1-3400-Current-As-Of-Jan-25-2020.xlsx')

df.head()

,Review #,Brand,Variety,Style,Country,Stars
0,3400,EDO Pack,Kumamoto Flavour Noodles,Cup,Hong Kong,1
1,3399,Pan Mee,Goreng Dried Chili Shrimp Flavour,Pack,Malaysia,5
2,3398,Paldo,King Lid Ramen Noodle Soup,Pack,South Korea,5
3,3397,Nissin Miojo,Cremoso Carno Com Chili,Pack,Brazil,2
4,3396,Samyang Foods,Cham Ramen Big Bowl,Bowl,South Korea,2.25

In [4]:
df.describe()

          Review #
count  3400.000000
mean   1700.500000
std     981.639785
min       1.000000
25%     850.750000
50%    1700.500000
75%    2550.250000
max    3400.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3400 entries, 0 to 3399
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Review #  3400 non-null   int64
 1   Brand     3400 non-null   object
 2   Variety   3400 non-null   object
 3   Style     3400 non-null   object
 4   Country   3400 non-null   object
 5   Stars     3400 non-null   object
dtypes: int64(1), object(5)
memory usage: 159.5+ KB